[Desktop Entry]
Type=Application
Name=Nostr!moe
Comment=A user-friendly Nostr client for exploring relay feeds
Exec=nostrmoe %U
Icon=moe.nostr.join
Terminal=false
Categories=Network;InstantMessaging;
StartupWMClass=Nostr!moe
